<form (ngSubmit)="updateInfo()" autocomplete="off" [formGroup]="UpdateForm">
  <div class="row mt-3">
    <!-- Name -->
    <div class="col-4">
      <mat-form-field
        floatLabel="always"
        class="control-container"
        appearance="outline"
      >
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          type="text"
          class="editor-control"
        />
      </mat-form-field>
    </div>
    <!-- Username -->
    <div class="col-4">
      <mat-form-field
        floatLabel="always"
        class="control-container"
        appearance="outline"
      >
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="userName"
          type="text"
          class="editor-control"
        />
      </mat-form-field>
    </div>
    <!-- User email -->
    <div class="col-4">
      <mat-form-field
        floatLabel="always"
        class="control-container"
        appearance="outline"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="text"
          class="editor-control"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <!-- User password -->
    <div class="col-5">
      <mat-form-field
        floatLabel="always"
        class="control-container"
        appearance="outline"
      >
        <!-- TODO: Confirm pw change -->
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          class="editor-control"
        />
      </mat-form-field>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-8">
          <mat-form-field
            floatLabel="always"
            class="control-container"
            appearance="outline"
          >
            <mat-label>Budget</mat-label>
            <input
              matInput
              formControlName="budget"
              type="number"
              (keypress)="numberOnly($event.keyCode)"
              class="editor-control"
            />
            <span matTextPrefix>{{ "currency" }}&nbsp;</span>
          </mat-form-field>
        </div>
        <div class="col align-items-center">
          matInput
          <span>Currency</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div class="row mb-4 mb-sm-3 mt-5 justify-content-center">
    <div class="col-6 text-end">
      <button mat-raised-button class="mx-2 form-btn-save mb-3 mt-3">
        Save
      </button>
    </div>
    <div class="col-6 text-start">
      <button
        (click)="exitEditMode()"
        mat-raised-button
        class="mx-2 form-btn-exit mb-3 mt-3"
      >
        Exit
      </button>
    </div>
  </div>
</form>
