.nav-bg{
  background-color: var(--purple-contrast);
  color: var(--bg-dark);

}
.title-text{
  font-size: 30px;
}
.active-route{
  background-color: var(--green-light);
  color: var(--bg-dark);
}
button{
  /* background-color: #8671b6; */
  font-family: 'Palanquin' , sans-serif;
  background-color: #7e6ba8;
  height: 45px;

}
button:hover{
  background-color: var(--semi-grass);
}
