<!-- TODO implement toggle edit -->
<!-- TODO: Simplify and use only one ngTemplate -->
<div class="row text-center mb-5 mt-4">
  <div class="col-6">
    <div class="row">
      <h3>Inventory</h3>
      <!-- TODO: Adding button -->
    </div>
    <ng-container
      *ngIf="inventory() && inventory()!.items!.length > 0; else NoInvItems"
    >
      <div class="row text-start" style="max-height: 500px; overflow-y: scroll">
        <div class="col-6" *ngFor="let item of inventory()!.items">
          <shared-card [item]="item"></shared-card>
          <!-- (onToggleEditMode)="toggleEditMode($event)" -->
        </div>
      </div>
    </ng-container>
    <ng-template #NoInvItems>
      <div class="text-center row">
        <span>There's no items in your inventory yet...</span>
        <!-- TODO: Adding item button -->
      </div>
    </ng-template>
  </div>
  <div class="col-6">
    <div class="row">
      <h3>Shopping List</h3>
    </div>
    <ng-container
      *ngIf="
        shoppingList() && shoppingList()!.items!.length > 0;
        else NoSLItems
      "
    >
      <div class="row">
        <div class="col-6 text-end">
          <span
            >Budget:
            <strong *ngIf="budget">
              {{ budget | currency }}
            </strong>
            <strong *ngIf="!budget"> No budget allocated yet </strong>
          </span>
        </div>
        <div class="col-6 text-start">
          <span>
            Shopping list cost: {{ shoppingList()!.totalCost | currency }}
          </span>
        </div>
      </div>
      <div class="row text-start" style="max-height: 500px; overflow-y: scroll">
        <div class="col-6" *ngFor="let item of shoppingList()!.items">
          <shared-card [item]="item"></shared-card>
        </div>
      </div>
    </ng-container>
    <ng-template #NoSLItems>
      <div class="text-center row">
        <span>There's no items in your Shopping list yet...</span>
      </div>
    </ng-template>
  </div>
</div>
<div class="row text-center">
  <h3>History</h3>
</div>
<ng-container
  *ngIf="inventory() && inventory()!.history!.length > 0; else NoItems"
>
  <div class="row text-start" style="max-height: 350px; overflow-y: scroll">
    <div class="col-3" *ngFor="let item of inventory()!.history">
      <shared-card [item]="item"></shared-card>
    </div>
  </div>
</ng-container>
<ng-template #NoItems>
  <div class="text-center row">
    <span>There's no items in your history yet...</span>
  </div>
</ng-template>
