<div class="row">
  <div class="col">
    <h3>Name:</h3>
    <h5>{{ household!.name }}</h5>
  </div>
  <div class="col" style="max-height: 120px; overflow-y: scroll">
    <h3>Member list:</h3>
    <div *ngFor="let member of household!.members">
      <span>{{ member.name }}</span>
    </div>
  </div>
  <div class="col">
    <h3>Admin list:</h3>
    <div *ngFor="let admin of household!.admins">
      <span>{{ admin.name }}</span>
    </div>
  </div>
</div>
<div class="row align-items-center mb-2">
  <div class="col text-end">
    <button (click)="enterEditMode()" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
