<div class="col text-center mt-4 container">
  <ng-container *ngIf="!editing; else edit">
    <div class="row">
      <h1>My information</h1>
    </div>
    <user-info
      [user]="user"
      (onToggleEditMode)="toggleEditMode($event)"
      (onToggleShowHOnMenu)="toggleShowHouseholdOnMenu($event)"
    ></user-info>
  </ng-container>
  <ng-template #edit>
    <div class="row">
      <h1>Edit information</h1>
    </div>
    <user-edit-info-form
      [user]="user"
      (onToggleEditMode)="toggleEditMode($event)"
    ></user-edit-info-form>
  </ng-template>
</div>
