<shared-nav-menu></shared-nav-menu>
<div class="container row mt-3 text-center">
  <h1>Main Dashboard</h1>
</div>
<div class="row mt-2">
  <div class="col-8 recipe-container">
    <div class="row">
      <h3>Suggested recipes</h3>
    </div>
    <div class="row container" style="max-height: 700px; overflow-y: scroll">
      <div
        class="col-6 mt-3"
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]"
      >
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Recipe name</mat-card-title>
              <mat-card-subtitle>Recipe characteristics</mat-card-subtitle>
              <img
                mat-card-md-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Image of a Shiba Inu"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ipsam
            id ratione temporibus accusamus sed incidunt officiis quos,
            cupiditate atque necessitatibus explicabo asperiores repudiandae est
            iusto architecto optio quidem iste.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row container mb-4">
      <h5>The following items are about to run out!</h5>
      <div style="max-height: 185px; overflow-y: scroll">
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
          <mat-card class="mt-2" style="color: rgb(204, 94, 94)">
            <mat-card-content>Item name</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="row container mb-4">
      <h5>The following items are about to expire</h5>
      <div style="max-height: 185px; overflow-y: scroll">
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
          <mat-card class="mt-2" style="color: rgb(204, 94, 94)">
            <mat-card-content>Item name</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="row container mb-4">
      <h5 class="text-center">< Wishlist ></h5>
      <div style="max-height: 185px; overflow-y: scroll">
        <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
          <mat-card class="mt-2">
            <mat-card-content>Item name</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- !Dashboard comp with sub components for stuff -->
<!-- TODO: Household creation here -->
