h1{
  font-family: 'Advent Pro', sans-serif;
}
input{
  font-family: 'Antic Slab', serif;
  border: 3px solid var(--semi-grass);
  background-color: var(--bg-dark);
  border-radius: 15px;
  box-shadow: 4px 3px 20px 0px #c1f8bb;
  color: var(--semi-grass);
}
input::placeholder{
   color: rgba(179, 243, 172, 0.4);
}
input:focus{
  outline: none;
  border: 3px solid var(--purple-contrast);
  box-shadow: 4px 3px 20px 0px var(--purple-contrast);
  background-color: var(--bg-dark);
  color: var(--semi-grass);
}

button{
  font-family: 'Happy Monkey', cursive;
  background-color: var(--orange-dark);
  color: var(--bg-dark);
}

.go-to{
  background-color: var(--semi-grass);
  color: var(--bg-dark);
}

.error-text{
  color: var(--error-red);
}
